.graph {
    height: 70vh;
    padding: 0 2px 0px 2px;
    border-radius: 6px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
    grid-gap: 1px;
    align-items: end;
}