.bar-graph {
  height: 70vh;
  padding: 0 2px 0px 2px;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: (minmax(3px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(3px, 1fr));
  grid-gap: 1px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
