.menu-container {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item {
  width: 17%;
  padding: 0.4em;
  border-width: 3px;
  border-style: solid;
  border-radius: 4px;
  font-size: 1.2em;
}
