*,
*::before,
*::after {
    box-sizing: border-box;
}

.interface {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: transparent;
}

.grid-wrapper {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template:
        " . slider ."
        " . graph . "
        " . menu . ";
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 75% 12.5%;
}

header {
    grid-area: graph;
    align-self: center;
    z-index: 1;
    opacity: 0;
    animation: show-title 2500ms ease-in-out;
    animation-fill-mode: forwards;
    .title {
        margin: 0;
        font-family: Vegan Style, Brush Script MT, Arial, sans-serif;
        font-size: 3em;
    }
    .sub-title {
        margin: 0;
        font-family: Poiret One, Arial, sans-serif;
        letter-spacing: 1px;
    }
}

@media (min-width: 850px) {
    .grid-wrapper {
        height: fit-content;
        grid-template:
            " . sidepanel graph slider . "
            " . sidepanel menu slider .";
        grid-template-columns: 10% 5% 70% 5% 10%;
        grid-template-rows: 70vh 10vh;
    }
    header .title {
        font-size: 5em;
        letter-spacing: 1px;
    }
}

@keyframes show-title {
    0%  {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100%  {
        opacity: 0;
    }
}