*,
*::before,
*::after {
    box-sizing: border-box;
}

.interface {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main-row {
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr 5% 10%;
}