*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.interface {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.grid-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template: " . . graph sidebar . " " . . menu sidebar .";
  -ms-grid-columns: 10% 5% 70% 5% 10%;
      grid-template-columns: 10% 5% 70% 5% 10%;
  -ms-grid-rows: 70vh 10vh;
      grid-template-rows: 70vh 10vh;
}
