$thumb-size: 28px;
$track-size: 14px;
$thumb-color: #004BA4;
$slider-color: rgba(224,224,224, 0.9);

.sidebar {
    grid-area: sidebar;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    transform: rotate(270deg);
    background: none;
    opacity: 0.8;
    transition: opacity 200ms;

    &:focus {
        opacity: 1;
        outline: none;
    }
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-runnable-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-moz-range-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-ms-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        height: $thumb-size;
        width: $thumb-size;
        border-style: none;
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-ms-thumb {
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
}

.counter {
    display: none;
    position: absolute;
    transform: translateX(3em) translateY(+4px);
    width: $thumb-size + 8px;;
    height: $thumb-size + 8px;
    //padding: 1.25em;
    border-radius: 50%;
}

.slider:hover + .counter,
.slider:focus + .counter,
.slider:focus + .count,
.slider:focus + .count {
    display: flex;
    justify-content: center;
    align-items: center;
}