$thumb-size: 20px;
$track-size: 10px;
$thumb-color: #004BA4;
$slider-color: rgba(224,224,224, 0.8);

.sidebar {
    grid-column: 3;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {   
    -webkit-appearance: none;
    transform: rotate(270deg);
    background: none;
    opacity: 0.6;

    &:focus {
        opacity: 1;
        outline: none;
    }
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-runnable-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-moz-range-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-ms-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        height: $thumb-size;
        width: $thumb-size;
        border-style: none;
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-ms-thumb {
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
}

.counter {
    display: none;
    position: absolute;
    transform: translateX(2.2em) translateY(+25%);
    width: 1.75em;
    height: 1.75em;
    padding: 0.5em;
    border-radius: 50%;
}

.slider:hover + .counter,
.slider:focus + .counter {
    display: flex;
    justify-content: center;
    align-items: center;
}