$thumb-size: 28px;
$track-size: 14px;
$thumb-color: #1C5491;
$slider-color: rgba(24,44,97,0.9);

.slider {
    grid-area: slider;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 600ms;
}

.range-slider {
    -webkit-appearance: none;
    background: none;
    opacity: 0.8;

    &:focus {
        opacity: 1;
        outline: none;
    }
    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-runnable-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-moz-range-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
    }
    &::-ms-track {
        height: $track-size;
        border-radius: $track-size;
        cursor: pointer;
        background: $slider-color;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-moz-range-thumb {
        height: $thumb-size;
        width: $thumb-size;
        border-style: none;
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
    &::-ms-thumb {
        height: $thumb-size;
        width: $thumb-size;
        transform: translateY(#{($track-size - $thumb-size)/2});
        border-radius: 50%;
        background: $thumb-color;
        cursor: pointer;
    }
}

.counter {
    position: absolute;
    top: 110%;
    width: $thumb-size + 8px;;
    height: $thumb-size + 8px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 850px) {
    .range-slider {
        transform: rotate(270deg);
    }
    .counter {
        top: unset; 
        display: none;
        transform: translateX(3em) translateY(+4px);
    }
    .range-slider:hover + .counter,
    .range-slider:focus + .counter {
        display: flex;
    }
}