.slider {
  grid-area: slider;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.range-slider {
  -webkit-appearance: none;
  background: none;
  opacity: 0.8;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.range-slider:focus {
  opacity: 1;
  outline: none;
}

.range-slider:hover {
  opacity: 1;
}

.range-slider::-webkit-slider-runnable-track {
  height: 14px;
  border-radius: 14px;
  cursor: pointer;
  background: rgba(224, 224, 224, 0.9);
}

.range-slider::-moz-range-track {
  height: 14px;
  border-radius: 14px;
  cursor: pointer;
  background: rgba(224, 224, 224, 0.9);
}

.range-slider::-ms-track {
  height: 14px;
  border-radius: 14px;
  cursor: pointer;
  background: rgba(224, 224, 224, 0.9);
  color: transparent;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
  border-radius: 50%;
  background: #004BA4;
  cursor: pointer;
}

.range-slider::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-style: none;
  border-radius: 50%;
  background: #004BA4;
  cursor: pointer;
}

.range-slider::-ms-thumb {
  height: 28px;
  width: 28px;
  transform: translateY(-7px);
  border-radius: 50%;
  background: #004BA4;
  cursor: pointer;
}

.counter {
  position: absolute;
  width: 36px;
  height: 36px;
  -webkit-transform: translateY(3em);
          transform: translateY(3em);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 850px) {
  .range-slider {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  .counter {
    display: none;
    -webkit-transform: translateX(3em) translateY(4px);
            transform: translateX(3em) translateY(4px);
  }
  .range-slider:hover + .counter,
  .range-slider:focus + .counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
